.gallery {
  width: 100%;
  height: 320px;
  max-width: 1800px;
  max-height: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.gallery-image {
  width: 10%;
  height: calc(50% - 20px);
  min-width: 300px;
  min-height: 320px;
  border-radius: var(--oxpins-bdr-radius);

  margin: 10px;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 1s;
}

/* popup */

.popup {
  position: fixed;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 50%;
  max-width: 1600px;
  height: 80vh;
  max-height: 800px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  overflow: hidden;
  transition: 1s;
  opacity: 0;
}

.popup.active {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.popup.active .close-btn,
.popup.active .image-name,
.popup.active .index,
.popup.active .large-image,
.popup.active .arrow-btn {
  opacity: 1;
  transition: opacity 0.5s;
  transition-delay: 1s;
}

.top-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: #000;
  color: #fff;
  text-align: center;
  line-height: 50px;
  font-weight: 300;
}

.image-name {
  opacity: 0;
}

.close-btn {
  opacity: 0;
  position: absolute;
  top: 0px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 30px;
  font-size: bold;
  /* background: #f00; */
  cursor: pointer;
}

.arrow-btn {
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  border-radius: 50%;
  border: none;
  background: none;
  cursor: pointer;
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
  transform: translateY(-50%) rotate(180deg);
}

.arrow-btn:hover {
  background: rgba(0, 0, 0, 0.5);
}

.index {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 80px;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.4);
  opacity: 0;
}

.large-image {
  border-radius: var(--oxpins-bdr-radius);
  margin-top: 5%;
  width: 80%;
  height: 80vh;
  object-fit: contain;
  opacity: 0;
}

@media only screen and (max-width: 576px) {
  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 98%;
    max-width: 1600px;
    height: 60vh;
    max-height: 800px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    overflow: hidden;
    transition: 1s;
    opacity: 0;
    margin-top: -50px;
  }
  .large-image {
    border-radius: var(--oxpins-bdr-radius);
    margin-top: 5%;
    width: 95%;
    height: 90vh;
    object-fit: contain;
    opacity: 0;
  }
}
